.flex {display: flex;}
.align-items {align-items: center;}
.justify-content {justify-content: center;}
.space-around {justify-content: space-around;}
.space-between {justify-content: space-between;}

/* .sidebarContainer {
    width: 1240px;
    background-color: antiquewhite;
    height: 120px;
} */

header {
    width: 100%;
    background-color: antiquewhite;
    height: 60px;
}

.Logo img{
    padding-left: 12px;
}

.NavS{
    width: 400px;
}
.NavS a {
    text-decoration: none;
    color: black
}