 *{
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #151411;
 }
 /* body{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 } */

 .flex {display: flex;}
 .flex-d {flex-direction: column;}
 .flex-row {flex-direction: row;}
 .align-items {align-items: center;}
 .align-start {align-items: flex-start;}
 .justify-content {justify-content: center;}
 .space-around {justify-content: space-around;}
 .space-between {justify-content: space-between;}
 .textCategory { color: #ffb23f;}


 .Container {
  width: 100vw;
 }

 .containerTitle{
  height: 300px;
 }
.bigTitle{
  width: 750px;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.bigText{
  width: 800px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #AFADB5;
  margin-top: 20px;

}

/* .productCard{
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  border: 1px white solid;
} */

.input {
  width: 1080px;
  height: 50px;
  font-size: 45px;
  position: absolute;
  top: 42%;
  left: 30%;
}

.input input{
  width: 200px;
  height: 50px;
  font-size: 40px;
}

.landingPage{
  position: relative;
}