 *{
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 }
 .flex {display: flex;}
 .align-items {align-items: center;}
 .justify-content {justify-content: center;}
 .flex-d {flex-direction: column;}

 .Container {
  width: 100%;

 }